.header {
  &__container {
    padding: 24px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    a {
      text-decoration: none;
      color: inherit;
    }
  }
  &__logo__icon {
    margin-right: 10px;
    font-size: 24px;
  }
  &__logo__text {
    font-size: 24px;
  }
  &__links {
    a {
      margin-right: 16px;
    }
  }
  @media screen and (max-width: 600px) {
    &__container {
      flex-direction: column;
      gap: 10px;
    }
  }
}
