.header {
  background-color: #3288d2;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  a {
    color: #fff;
    :hover {
      text-decoration: none;
    }
  }
  button {
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    font-size: 14px;
    cursor: pointer;
  }
}
