* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  background: #fff;
  // border-top: 5px solid #e5e5e5;
  color: #272727;
  overflow-x: hidden;
  font-family: Open Sans, system-ui, BlinkMacSystemFont, -apple-system, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

a:focus {
  outline: none;
}

a {
  color: inherit;
  transition: border-bottom 0.2s ease-out;
  text-decoration: none;
  &:hover {
    // border-bottom: 2px solid #272727;
    color: #272727;
  }
}

ul {
  list-style-type: none;
}
