* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #fff;
  border-top: 5px solid #e5e5e5;
  color: #272727;
  overflow-x: hidden;
  font-family: Open Sans, system-ui, BlinkMacSystemFont, -apple-system, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

a:focus {
  outline: none;
}
